.NavHome{
    position: sticky;
    align-items: center;
    font-size: 50px;
    padding-top: 20px;
    padding-right: 20px;

    padding-bottom: 20px;
    border-radius: 360px;
    border-width: 20px;
    margin: auto;
    text-decoration: none;
    text-shadow: 1px;
    color: aliceblue;
}

.NavMenu > li{
    height: 100%;
    background-color: rgba(3f,3f,3f,0.6f);
    border: 2px solid #ccc;
}

.NavMenu{  
    height: 80% / 8;
    border-radius: 50px;
    padding: 10px 15px 10px 10px;
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 40px;
    border: none;
    transition: 0.2s;
    text-align: center;
    text-decoration: none;
  
}

.NavMenu2{
    border-radius: 50px;
    padding: 15px 18px;
    font-size: 25px;
    line-height: 40px;
    border: none;
    transition: 0.2s;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

.NavMenu:hover, .NavMenu2:hover {
    color: #e66465;
}

.NavText{
   text-decoration: none;
   color: rgb(55, 55, 55);
   color: aliceblue;
   background-color: rgba(3f,3f,3f,0.6f);
   font-size: 3vh;
}

.NavMenu:hover > .NavText, .NavMenu2:hover > .NavText{
    color: rgb(122, 255, 171);
    text-decoration: underline;
}

.navMenuListItem{
    list-style-type: none;
    color: aliceblue;
    font-weight: bold;
}

.NavMenuList{
    height: 100%;
    width: 100%;
    color: aliceblue;
    padding-bottom: 20px;
    background-color: #9497EB;
    border: 2px #f6b6ba80 solid;
    border-radius: 4px;

}