a{
    color: aliceblue;
}

v.container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .title {
    text-align: center;
    color: aliceblue;
  }
  
  .list {
    list-style-type: none;
    padding: 0;
  }
  
  .item {
    background-color: #2f2f2f;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .name {
    color: #f3f3f3;
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .location, .cuisine {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .description {
    font-size: 14px;
    color: #f3f3f3;
  }
  